numpy==1.23.1
notebook==6.4.12
matplotlib==3.5.2
jupyter_contrib_nbextensions==0.5.1
scipy==1.9.0
cython==0.29.32

# --------- docs --------- #
sphinx==5.1.1
sphinx-rtd-theme==1.0.0
numpydoc==1.4.0

# --------- code prettifiers --------- #
pre-commit==2.20.0      # hooks for applying linters on commit
black==22.6.0           # code formatting
isort==5.10.1           # import sorting
flake8==5.0.0           # code analysis

# --------- for comparison --------- #
scikit-learn==1.1.1
statsmodels==0.13.2
