numpy==1.22.3
notebook==6.4.10
matplotlib==3.5.1
jupyter_contrib_nbextensions==0.5.1
scipy==1.8.0
cython==0.29.28

# --------- docs --------- #
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
numpydoc==1.2

# --------- code prettifiers --------- #
pre-commit==2.17.0      # hooks for applying linters on commit
black==22.1.0           # code formatting
isort==5.10.1           # import sorting
flake8==4.0.1           # code analysis

# --------- for comparison --------- #
scikit-learn==1.0.2
statsmodels==0.13.2
